name: Release Terraform Provider

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4

      - name: Install GoReleaser
        shell: bash
        run: curl -sSL https://goreleaser.com/static/linux_amd64/goreleaser | bash

      - name: Run GoReleaser
        env:
          HARBOR_USERNAME: ${{ secrets.HARBOR_USERNAME }}
          HARBOR_PASSWORD: ${{ secrets.HARBOR_PASSWORD }}
        run: goreleaser release --rm-dist
