name: Release Terraform Provider

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: 2.12.7
          args: release
        env:
          DOCKER_USERNAME: ${{ secrets.HARBOR_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.HARBOR_PASSWORD }}

      - name: Upload ZIPs to Harbor
        run: |
          for f in dist/*.zip; do
            curl -u "${{ secrets.HARBOR_USERNAME }}:${{ secrets.HARBOR_PASSWORD }}" \
                 -X POST "https://reg.opaas.cloud/v2/terraform-providers/passbolt/blobs/uploads/" \
                 -F "file=@${f}"
          done
